@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root {
    --primary-color: #EF4444;
}
body {
    font-family: 'Kaushan Script', cursive;
    margin: 0;
    color: white;
}
nav {
    padding: 1.5rem 0rem;
    background-color: var(--primary-color);
    text-align: center;
    font-size: 2rem;
}
.container {
    position: relative;
    margin: auto;
    left: 15%;
    width: 49%;
    height: 100%;
}
.hero-image {
    position: absolute;
    left: 3%;
    width: 30%;
    margin: 2rem 0rem;
}
.hero-heading {
    position: absolute;
    left: 3%;
    top: 60%;
    width: 30%;
    margin: 2rem 0rem;
    text-align: center;
    font-size: 3rem;
    color: black;
}
textarea {
    display: block;
    width: 100%;
    margin: 2rem 0rem;
    padding: 1rem;
    font-size: 1rem;
    font-family: inherit;
    overflow: scroll;
}
button {
    padding: 1rem;
    font-size: 1rem;
    font-family: inherit;
    background-color: var(--primary-color);
    border: none;
    color: white;
}
.output-heading {
    font-size: 1.5rem;
    margin: 1rem 0rem;
    color: black;
}
#output {
    border: 1px solid black;
    font-size: 1rem;
    width: 100%;
    height: 10vh;
    overflow: scroll;
    padding: 1rem;
    margin-bottom: 2rem;
    color: black;
}
footer {
    position: fixed;
    bottom: 0;
    background-color: var(--primary-color);
    width: 100%;

}
.footer-heading {
    text-align: center;
    padding-top: 1rem;
    font-size: 1.5rem;
}
footer p {
    text-align: center;
    max-width: 50%;
    margin: auto;
    font-size: 1.1rem;
    padding: 1rem 0rem;
}